<%= form_for([@category, @recipe]) do |f| %>
  <%= label_tag("Title") %>
  <%= f.text_field :title %>
  <%= label_tag("Description") %>
  <%= f.text_field :description %>
  <%= label_tag("Image") %>
  <%= f.text_field :image %>
  <br/>
  <br/>
  <div class="row">
    <div class="col s6 center-align">
      <div class="nested">
        <%= f.nested_fields_for :ingredients do |ff| %>
          <%= ff.remove_nested_fields_link %>
          <%= ff.text_field :name %>
        <% end %>
        <%= f.add_nested_fields_link :ingredients, "Add Ingredient", class: 'button' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 center-align">
      <br/>
      <br/>
      <%= f.submit "Add Recipe!", class: "btn btn-large" %>
    </div>
  </div>
<% end %>
