.container
	.row
		.col.xs12
			%img= @recipe.image
			%h2= @recipe.title
			%p= @recipe.description
	.row
		.col.xs6
			%h2= @recipe.title
			%ul
				%li= @recipe.instructions
				
		.col.xs6
			%p= @recipe.ingredients
			
	.row
		= link_to "Add Category", new_category_recipe_path(@recipe)



