<div class="row" id="rec-container">

 
    <div id="recipe" class="col s12" style="background: url('<%= @recipe.image %>');">
    <div class="container">
      <div id="crave" class="col s2 offset-s10"> <!-- Should only show single button, either on or off -->
            <% if current_user %>
              <% if current_user.favorites.include?(@recipe) %>
                 <%= link_to (image_tag("craved.png")),   favorite_recipe_path(@recipe, type: "unfavorite"), method: :put %>
              <% else %>
                <%= link_to (image_tag("bookmark.png")), favorite_recipe_path(@recipe, type: "favorite"), method: :put %>
              <% end %>
            <% else %>
              <%= link_to (image_tag("bookmark.png")), new_user_registration_path %>
            <% end %>
      </div>

        <div>
          <h5><%= @recipe.title %></h5>
          
        </div>
      </div>
    </div>

    <%= render 'meta' %>
    
    <div id="recipe-content" class="col s12"> 
        <h5>Description</h5>
          <%= @recipe.description %>
        <h5>Ingredients</h5>
          <ul>
            <li><%= @recipe.ingredients %></li>
          </ul>
        <h5>Instructions</h5>
        <%= @recipe.instructions %>
    </div>

<%= link_to 'Add a new recipe to this Category', new_category_recipe_path(@recipe) %>

    

    

</div>
  
  