<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2><%= @category.title %></h2>
      <p><%= @category.description %></p>
      <img src="<%= @category.image%>" />
    </div>
  </div>
  <div class="row">
    <h3>Recipes</h3>
    <% @category.recipes.each do |r| %>
      <h4><%= r.title %></h4>
    <% end %>
  </div>
  <%= link_to 'Add Recipe', new_category_recipe_path(@category) %>
</div>