<%= render 'nav' %>


  <div class="row">
    
    <% @category.recipes.each do |recipe| %>
      <a href="/recipes/<%= recipe.id %>">
          <div id="rec" class="col s12" style="background: url('<%= recipe.image %>');">
            <div class="recipe-content">
              <h5><%= recipe.title %></h5>
            </div>   
          </div>
        </a>

    <% end %>
  </div>

  <%= render 'foot' %>

  <%= link_to 'Add a New Recipe to', new_category_recipe_path(@category) %> <%= @category.title %>

