<div class="container">
	<div class="row">
		<h1><%= flavor.title %></h1>
		<h5><%= flavor.description %></h5>
	</div>

	<div class="row">
		<% @foods.each do |food| %>
			<div class="col xs6">
				<h4><%= food.title %></h4>
				<p><%= food.image %></p>
				<p><%= food.description %></p>
				
			</div>
		<% end %>
	</div>
</div>